<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.rgups.time"
    android:versionCode="2"
    android:versionName="0.4" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <application
    	android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
       	android:theme="@style/Theme.Base.AppCompat.Light"
    	android:name="RTApplication">
        <activity
            android:name="ru.rgups.time.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments.WelcomeActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"></activity>
        <service android:name=".spice.SampleSpiceService"></service>
        <activity android:name=".activities.AuthActivity"></activity>
        <activity 
            android:name=".activities.HomeWorkActivity"
           	android:uiOptions="splitActionBarWhenNarrow">
            
        </activity>
        
        <receiver android:name="ru.rgups.time.receiver.HomeWorkNotificationReceiver">
            <intent-filter>
				<action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />            </intent-filter>
        </receiver>
        
    </application>

</manifest>
