<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.rgups.time"
    android:versionCode="9"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <application
    	android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
       	android:theme="@style/Theme.Base.AppCompat.Light"
    	android:name="RTApplication">
        <activity
            android:name="ru.rgups.time.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppBaseTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".fragments.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"></activity>
        <service android:name=".spice.SampleSpiceService"></service>
        <service android:name=".services.LessonNotificationService"></service>

        LessonNotificationService
        
        <activity android:name=".activities.AuthActivity"
            android:theme="@style/AppBaseTheme"
            android:screenOrientation="portrait">
            
        </activity>
        
        
        <activity 
            android:name=".activities.HomeWorkActivity"
            android:theme="@style/AppBaseTheme"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow">
            
        </activity>
        
        <receiver android:name="ru.rgups.time.receiver.HomeWorkNotificationReceiver">
            <intent-filter>
				<action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />            </intent-filter>
        </receiver>

    <activity android:name=".activities.PhotoFullScreenActivity"
        android:theme="@style/AppBaseTheme"
        android:screenOrientation="portrait"
        ></activity>
    
    
    <meta-data android:name="com.crashlytics.ApiKey" android:value="5a2cc6ac6ddc499c700c758436da20104f4d181a"/>
        
    </application>

</manifest>
